########################################################################
#
#   Autobench test configuration file for dbt2 test
#
########################################################################

TEST_MODULE=dbt2
. $AUTOBENCH_INCDIR/$TEST_MODULE.inc

test_setup()
{
  #profile information
  USE_OPROFILE=1
  VMLINUX=/tmp/vmlinux-2.6.16.46-0.12-smp

  #System statistic information: sar/vmstat/iostat
  COLLECT_STAT=1
  TEST_STAT_SAMPLE=1 # Get sample each 10 seconds
  
  #Test name
  TEST_NAME="dbt2w100"

  #If test have subtests specify them here
  TEST_CASES="dbt2w100"

  #Basedir for backup datafiles
  #TEST_BACKUP_BASEDIR=/data1/qauser/backup/dbt2w50.io
  TEST_BACKUP_BASEDIR=/home/ranger/dbt2w200

  #DBT2 options
  #ScaleFactor(number of warehouses)
  DBT2_SF=200
  DBT2_DATASET_DIR=$AUTOBENCH_TMPDIR/dbt2w200

  #SERVER DB
  SERVER_DB="dbt2w200"
  
  ENGINE_DEFAULTS_FILE_INNODB=$TEST_CNF_DIR/dbt2w200-innodb.cnf
}

