[mysqld]
ignore-builtin-innodb
#plugin_load=innodb=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so
user=root
port=3306
plugin-load=innodb=ha_innodb_plugin.so;innodb_trx=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so;innodb_lock_waits=ha_innodb_plugin.so;innodb_cmp=ha_innodb_plugin.so;innodb_cmp_reset=ha_innodb_plugin.so;innodb_cmpmem=ha_innodb_plugin.so;innodb_cmpmem_reset=ha_innodb_plugin.so
innodb_buffer_pool_size=2000M
innodb_log_file_size=100M
innodb_flush_log_at_trx_commit=2
innodb_doublewrite=0
innodb_flush_method=O_DIRECT
innodb_thread_concurrency=0
max_connections=2000
table_cache=2000
innodb_max_dirty_pages_pct=80
skip-locking 
server-id=1 
innodb_status_file=0 
innodb_data_file_path=ibdata1:100M:autoextend 
