[mysqld]
user=root
port=3306

#ignore-builtin-innodb
#plugin_load=innodb=ha_innodb_plugin.so;innodb_locks=ha_innodb_plugin.so
innodb_status_file=0
innodb_data_file_path=ibdata1:100M:autoextend 
innodb_flush_log_at_trx_commit = 1
innodb_flush_method = O_DIRECT
innodb_log_buffer_size = 16M
innodb_buffer_pool_size = 52G
innodb_log_file_size = 2000M
innodb_log_files_in_group = 2
innodb_file_per_table = true

innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_io_capacity = 1000


sync_binlog=0
max_connections=2048
table_open_cache=2048